.formTitleStyle{
    font-weight: 700;
    color: #263238;
    line-height: 1.916;
    padding-bottom: 5px;
    font-size: 24px;
}
.descriptionStyle{
    color: #263238;
    text-align: left;
    line-height: 25px;
    font-size: 17px;
    font-weight: 400;
}
.buttonStyle{
    border-color: #263238;
    background-color: #263238;
    color: #fff;
    padding: 14px 23px;
    border-radius: 31px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
.buttonStyle:hover {
   background-color: #285DA2;
  }

.titletwostyle{
    font-weight: 600;
    color: #fff;
    line-height: 1.25;
    text-decoration: underline;
    margin-bottom: 25px;
    font-size: 24px;

}
.descriptionTwoStyle{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 40px;
}
.ContactDetails{
    background-color: rgb(40, 93, 162);
    padding: 40px;
    /* padding-top: 70px; */
    border-radius: 10px;
}