.footerText{
    text-align: center;
    color: #ffff;
}
.footerText2{
    text-align: center;
    cursor: pointer;
    color: #ffff;

}
.footerContetdiv{
    margin-top: 200px;
 
}
@media screen and (max-width: 1600px) {
    .footerContetdiv {
     margin-top: 150px;
    }
  }
  @media screen and (max-width: 1200px) {
    .FooterLogoDiv {
     margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 900px) {
    .FooterLogoDiv {
    justify-content: center;
    }
  }

  .policiesDiv{
    justify-content: flex-start;
  }
  @media screen and (max-width: 1200px) {
    .policiesDiv {
    justify-content: space-around;
    flex-direction: column;
    }
  }

.footerCopyrightDiv{
    /* background-color: aliceblue; */
    padding: 2px;
    margin-top: 10px;
}
.backgroungImgFooter{
    height: 680px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.footerTitle{
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-bottom: 25px !important;
    color: #ffff;
}
.footerParaStyle{
    font-size: 17px !important;
    font-weight: 400 !important;
    clear: both !important;
    display: flex;
    margin: 22px 15px !important;
    width: 93%;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffff !important;
}
.footerSubOptions{
    color: #ffff;
display: flex;
justify-content: center;
margin: 20px 10px !important;
font-size: 16px;
font-weight: 400;
text-transform: capitalize !important;
}
.footerSubOptions:hover{
color: #59e3a7;
cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: #59e3a7;
    text-decoration: none;
    cursor: pointer;
  }

  .iconStyle{
    color: #ffff;
    cursor: pointer;
  }