.header{
    width: "100%";
    position: absolute;
}
.buttonStyle {
    border-color: #263238;
    background-color: #263238;
    color: #fff;
    border-radius: 33px;
    padding: 14px;
    font-size: 18px;
}
.waveStringStyles{
    height: 680px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}
.backgroungImgAboutUs{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.contentTitle1home{
    font-family: "Open Sans",sans-serif;
    color: #aaabbf;
    display: block;
    font-weight: 600 !important;
    text-transform: uppercase;
    line-height: 2.777 !important;
    margin-bottom: 0.125rem !important;
    font-size: 18px !important;
}
.contentTitle2{
    color: #263238;
    font-weight: 700 !important;
    line-height: 1.19 !important;
    font-size: 42px !important;
    margin-bottom: 1.6rem !important;
}
.contentTitle3{
   
}
