.header{
    width: "100%";
    position: absolute;
}
.buttonStyle {
    border-color: #263238;
    background-color: #263238;
    color: #fff;
    border-radius: 33px;
    padding: 14px;
    font-size: 18px;
}
.waveStringStyles{
    height: 680px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}